<div class="container">
  <div class="row">
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="mx-auto" style="margin: 64px; padding: 56px 32px; border: 2px solid rgba(0, 0, 0, 0.16);">


        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", class: "form-control" %>
          </div>
          <br/>
          <div class="input-group">
            <%= f.password_field :password, autocomplete: "current-password" ,placeholder: "Password", class: "form-control" %>
          </div>
          <br/>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <%= render "devise/shared/forget_password_link" %>

          <div  class="actions" style="padding: 16px 0;">
            <%= f.submit t(".sign_in"), class: "btn btn-primary btn-block" %>
          </div>

          <div>
            <%= render "devise/shared/facebook" %>
            <p>
              <small>
                我們永遠不會再不經過您的同意下利用您的帳戶張貼動態於臉書
              </small>
            </p>
          </div>
          <div>
            <hr/>
            <span>沒收到確認信？</span>
            <%= render "devise/shared/send_confirmation_instruction_link" %>
          </div>

        <% end %>

        <%= render "devise/shared/links" %>


      </div>
    </div>
  </div>
</div>
